body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin:50px;
}
#apple-shelf{
    background-color:lightcoral;
    width:150px;
    height:30px;
    border-radius: 10px;
    text-align: center;
    color:white;
}
#orange-shelf{
    background-color:lightgoldenrodyellow;
    width:150px;
    margin-top:10px;
    height:30px;
    border-radius: 10px;
    text-align: center;
    color:white;
}